@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900&subset=cyrillic');

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(/bg/bg2.jpg);
  font-family: 'Exo 2', sans-serif;
  color: white !important;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #3b3b3b;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}


.header {
  margin-top: 0px !important;
  width: 100%;
  height: 30px;
  background: #3b3b3b;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.navMenu{
  margin-left: 23%;
}

.navList{
  color: white !important;
  text-decoration:none !important;
  color:#fff;
  width:200px;
  display:inline-block;
  text-align:center;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.l{
  width:200px;
  height:2px;
  background:#fff;
}

.navList:nth-child(1) ~ .l{
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.navList:nth-child(1):hover ~ .l{
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
  background-color:blue;
}

.navList:nth-child(2):hover ~ .l {
  transform:translate(200px);
  -webkit-transform:translate(200px);
  background-color:#e74c3c;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.navList:nth-child(3):hover ~ .l {
  transform:translate(200px);
  -webkit-transform:translate(400px);
  background-color:#BF55EC;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.navList:nth-child(4):hover ~ .l {
  transform:translate(200px);
  -webkit-transform:translate(600px);
  background-color:#f39c12;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.navList:nth-child(5):hover ~ .l {
  transform:translate(200px);
  -webkit-transform:translate(800px);
  background-color:#3caa3c;
  transition:all .33s linear;
  -webkit-transition:all .33s linear;
}

.navList:nth-child(1):hover {
  color:blue !important;
}

.navList:nth-child(2):hover {
  color:#e74c3c !important;
}

.navList:nth-child(3):hover {
  color:#BF55EC !important;
}

.navList:nth-child(4):hover {
  color:#f39c12 !important;
}

.navList:nth-child(5):hover {
  color:#3caa3c !important;
}

.sblock {
  margin: 5px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 7px;
  height: auto;
}

#login-submit, #reg-submit {
  cursor: pointer;
}

.userInfo {
  display: inline-block;
  height: 150px;
  border: 1px solid white;
  width: 35%;
  float: left;
}

.userInfo ul {
  margin-top: 5px !important;
}

.userAvatar {
  border-radius: 25px !important;
  width: 150px;
  height: 150px;
  float: left;
  padding: 10px;
}

@keyframes dev {
  from {
    color: red;
  }
  12% {
    color: yellow;
  }
  25% {
    color: green;
  }
  38% {
    color: blue;
  }
  50% {
    color: purple;
  }
  62% {
    color: blue;
  }
  75% {
    color: green;
  }
  88% {
    color: yellow;
  }
  to {
    color: red;
  }
}

.dev {
  animation: dev 10s infinite ease-in-out;
}

.animeWatched {
  display: inline-block;
  height: 150px;
  border: 1px solid white;
  margin-left: 10px;
}
