@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900&subset=cyrillic');

body {
  background: url(/bg/bg1.jpg);
  font-family: 'Exo 2', sans-serif;
}
.navContainer {
  font-weight: 400;
  height: 32px;
  margin-left: 20%;
  margin-right: 20%;
}

.navMenu {
  width: 458px;
  height: 32px;
  background-color: white;
  border-radius: 5px;
}

.navP {
  margin-block-start: 0.25em;
}

.navList1 {
  margin: 0px;
  display: inline-grid;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  background: #999999;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition: background 1s ease-out 0s;
  -moz-transition: background 1s ease-out 0s;
  -o-transition: background 1s ease-out 0s;
  transition: background 1s ease-out 0s;
}

.navList2, .navList3 {
  margin: 0px;
  display: inline-grid;
  text-align: center;
  width: 100px;
  height: 30px;
  background: #999999;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition: background 1s ease-out 0s;
  -moz-transition: background 1s ease-out 0s;
  -o-transition: background 1s ease-out 0s;
  transition: background 1s ease-out 0s;
}

.navList4 {
  margin: 0px;
  display: inline-grid;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  background: #999999;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition: background 1s ease-out 0s;
  -moz-transition: background 1s ease-out 0s;
  -o-transition: background 1s ease-out 0s;
  transition: background 1s ease-out 0s;
}

.navList1:hover, .navList2:hover, .navList3:hover, .navList4:hover {
  background: white;
  font-weight: 700;
}
