body {
  background: url(/bg/bg1.jpg);
}

.nav {
  width: 1000px;
  height: 50px;
  margin-left: 20%;
  background-color: white;
  border-radius: 5px;
}

.navList1 {
  text-align: center;
  width: 100px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  background: grey;
  cursor: pointer;
}

.navList1:hover {
  background: white;
}
